<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
{{!--navbar  --}}
<nav class="navbar navbar-expand-lg bg-info">
  <a class="navbar-brand text-dark" href="/home"><img src="https://fontmeme.com/permalink/190907/6f641460b3d78fa246e5ccb944a8d0f7.png" alt="pokemon-font" border="0"></a>
        <a class="nav-link text-dark active" href="/home">Home<span class="sr-only">(current)</span></a>
        <a class="nav-link text-dark" href="/battle">Battle</a>
</nav>
{{!-- Tokemon card--}}
<br>
        <div class="d-flex justify-content-center">
                <div class="col-sm-2">
                  <div class="card">
                    <div class="card-body">
                      <img src="styles/wadpole__1_.gif" class="card-img-top" alt="tokemon gif">                      <p class="card-text"></p>
                    </div>
                  </div>
                </div>
              
              </div>
              <br>
{{!-- jumbotron --}}
              <div class="jumbotron">
                    <div class="d-flex justify-content-center">
                      <h1 class="display-8">I'm Hungry!</h1>
                    </div>
                  </div>
{{!-- input cards --}}
                  <div class="d-flex justify-content-center">
                        <div class="col-sm-3">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Sleep</h5>
                              <p class="card-text">Sleeping will raise your Health Points!</p>
                              <p>(costs 1 token)</p>
                              <a href="#" class="btn btn-primary">Sleep</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Train</h5>
                              <p class="card-text">Training will raise your Attack Points!</p>
                              <p>(costs 1 token)</p>
                              <a href="#" class="btn btn-primary">Train</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">Feed</h5>
                                    <p class="card-text">Feeding will raise your Defense Points!</p>
                                    <p>(costs 1 token)</p>
                                    <a href="#" class="btn btn-primary">Eat</a>
                                  </div>
                                </div>
                              </div>
                    </div>
<link rel="stylesheet" href="styles/styles.css">
</body>
</html>