<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<br>
        <p class="h1 text-center">Choose Your Tokemon </p>

    <br>
    <br>
        <div class="d-flex justify-content-center">
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <img src="styles/wadpole__1_.gif" class="card-img-top" alt="...">
                      <h5 class="card-title">Wadpole</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Pick me</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <img src="styles/chirpet.gif" class="card-img-top" alt="...">
                      <h5 class="card-title">Chirpet</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Pick me</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                        <div class="card">
                          <div class="card-body">
                                <img src="styles/doggo.gif" class="card-img-top" alt="...">
                            <h5 class="card-title">Doggo</h5>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Pick me</a>
                          </div>
                        </div>
                      </div>

              </div>

</body>
</html>